<% if @questions.nil? then %>
  <h3> no questions yet </h3>
<% else %>
<% @questions.each do |q| %>
  <% question = Question.find_by_question_id(q[0]) %>
    <div class="col-md-4"> 
      <div class="box box-solid bg-light-blue">
          <div class="box-header">
              <h3 class="box-title" ><%= question.posted_by %></h3>
              <h5 class="box-title" style="float: right; padding-right: 10px"><%= TimelineBeautify.beauty_time(question.created_at) %></h5>
              
          </div>
          <div class="box-body">
              <%= question.post %>
          </div>
      </div>
    </div>
  <% end %>
<% end %>

